# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# emacs debris
*~

# Sphinx documentation
docs/_build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

